[Unit]
Description=Run network-stalker
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/network-stalker --retain --file-persistence --mqtt-server tcp://etoPiHome1:1883 etoNUC etoWindoof etoPhone
WorkingDirectory=/var/cache/network-stalker
# Use root for nmap
User=root
Group=root

[Install]
RequiredBy=multi-user.target
