[Unit]
Description=Run network-stalker
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Environment="MQTT_BROKER=etoPiHome1"
Environment="MQTT_RETAIN=true"
ExecStart=/usr/local/bin/network-stalker etoNUC etoWindoof etoPhone
# Use root for nmap
User=root
Group=root
Restart=on-failure
RestartSec=20

[Install]
WantedBy=multi-user.target
